# for local testing only
# ray[serve]==2.9.0
ray
torch==1.11.0
transformers[torch]
fastapi>=0.80
python-multipart>=0.0.6
pandas>=1.1.5
python-json-logger
geoip2
geopy
pyyaml
pytest
starlette
python-jose[cryptography]
jose
diffusers==0.12.1 # for stable-diffusion
datasets
nltk
evaluate
rouge_score
tensorboard
gpustat
